accessible-pygments==0.0.5 ; python_version >= "3.10" and python_version < "4.0"
alabaster==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.11.0 ; python_version >= "3.10" and python_version < "4.0"
anytree==2.13.0 ; python_version >= "3.10" and python_version < "4.0"
asgiref==3.10.0 ; python_version >= "3.10" and python_version < "4.0"
astroid==3.3.11 ; python_version >= "3.10" and python_version < "4.0"
asttokens==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
babel==2.17.0 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.14.2 ; python_version >= "3.10" and python_version < "4.0"
black==25.11.0 ; python_version >= "3.10" and python_version < "4.0"
cachetools==6.2.2 ; python_version >= "3.10" and python_version < "4.0"
certifi==2025.11.12 ; python_version >= "3.10" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.10" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0"
coverage==7.11.3 ; python_version >= "3.10" and python_version < "4.0"
coverage[toml]==7.11.3 ; python_version >= "3.10" and python_version < "4.0"
cssbeautifier==1.15.4 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.2.1 ; python_version >= "3.10" and python_version < "4.0"
deptry==0.24.0 ; python_version >= "3.10" and python_version < "4.0"
dill==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
django-coverage-plugin==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
django-debug-toolbar-template-profiler==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
django-debug-toolbar==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
django-extensions==4.1 ; python_version >= "3.10" and python_version < "4.0"
django-model-info==2024.11.5 ; python_version >= "3.10" and python_version < "4.0"
django-stubs-ext==5.2.7 ; python_version >= "3.10" and python_version < "4.0"
django-stubs==5.2.7 ; python_version >= "3.10" and python_version < "4.0"
django==5.2.8 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework-stubs==3.16.5 ; python_version >= "3.10" and python_version < "4.0"
djlint==1.36.4 ; python_version >= "3.10" and python_version < "4.0"
docutils==0.21.2 ; python_version >= "3.10" and python_version < "4.0"
editorconfig==0.17.1 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
executing==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
factory-boy==3.3.3 ; python_version >= "3.10" and python_version < "4.0"
fairdm-dev-tools @ git+https://github.com/FAIR-DM/dev-tools@7a641018821fdb0ca2be90dace6ef5ce659570d1 ; python_version >= "3.10" and python_version < "4.0"
fairdm-docs[sphinx-book-theme] @ git+https://github.com/FAIR-DM/fairdm-docs@8d88d99077f9ec1f655a41bd45caea0e336d0635 ; python_version >= "3.10" and python_version < "4.0"
faker==38.0.0 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.20.0 ; python_version >= "3.10" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.10" and python_version < "4.0"
identify==2.6.15 ; python_version >= "3.10" and python_version < "4.0"
idna==3.11 ; python_version >= "3.10" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
iniconfig==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
invoke==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
ipython==8.37.0 ; python_version >= "3.10" and python_version < "4.0"
isort==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
jedi==0.19.2 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "4.0"
jsbeautifier==1.15.4 ; python_version >= "3.10" and python_version < "4.0"
json5==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
latexcodec==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markdown==3.10 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.10" and python_version < "4.0"
matplotlib-inline==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
mdit-py-plugins==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
mypy==1.18.2 ; python_version >= "3.10" and python_version < "4.0"
myst-parser==4.0.1 ; python_version >= "3.10" and python_version < "4.0"
networkx==3.4.2 ; python_version >= "3.10" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.10" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.10" and python_version < "4.0"
parso==0.8.5 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pip-licenses==5.5.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.5.0 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
pre-commit==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
prettytable==3.16.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.52 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.10" and python_version < "4.0"
pybtex-docutils==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
pybtex==0.25.1 ; python_version >= "3.10" and python_version < "4.0"
pydata-sphinx-theme==0.15.4 ; python_version >= "3.10" and python_version < "4.0"
pydot==4.0.1 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "4.0"
pylint-celery==0.3 ; python_version >= "3.10" and python_version < "4.0"
pylint-django==2.6.1 ; python_version >= "3.10" and python_version < "4.0"
pylint-plugin-utils==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
pylint==3.3.9 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.2.5 ; python_version >= "3.10" and python_version < "4.0"
pyproject-api==1.10.0 ; python_version >= "3.10" and python_version < "4.0"
pytest-cov==7.0.0 ; python_version >= "3.10" and python_version < "4.0"
pytest-django==4.11.1 ; python_version >= "3.10" and python_version < "4.0"
pytest-env==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
pytest-sugar==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
pytest==9.0.1 ; python_version >= "3.10" and python_version < "4.0"
pytokens==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "4.0"
regex==2025.11.3 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.10" and python_version < "4.0"
requirements-parser==0.13.0 ; python_version >= "3.10" and python_version < "4.0"
rich==14.2.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
snowballstemmer==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.8 ; python_version >= "3.10" and python_version < "4.0"
sphinx-autobuild==2024.10.3 ; python_version >= "3.10" and python_version < "4.0"
sphinx-autodoc2==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
sphinx-book-theme==1.1.4 ; python_version >= "3.10" and python_version < "4.0"
sphinx-comments==0.0.3 ; python_version >= "3.10" and python_version < "4.0"
sphinx-copybutton==0.5.2 ; python_version >= "3.10" and python_version < "4.0"
sphinx-design==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
sphinx-exec-code==0.16 ; python_version >= "3.10" and python_version < "4.0"
sphinx==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-bibtex==2.6.5 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxext-opengraph==0.13.0 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.50.0 ; python_version >= "3.10" and python_version < "4.0"
termcolor==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.3.0 ; python_version >= "3.10" and python_full_version <= "3.11.0a6"
tomlkit==0.13.3 ; python_version >= "3.10" and python_version < "4.0"
tox==4.32.0 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "4.0"
types-python-dateutil==2.9.0.20251108 ; python_version >= "3.10" and python_version < "4.0"
types-pyyaml==6.0.12.20250915 ; python_version >= "3.10" and python_version < "4.0"
types-requests==2.32.4.20250913 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
uvicorn==0.38.0 ; python_version >= "3.10" and python_version < "4.0"
virtualenv==20.35.4 ; python_version >= "3.10" and python_version < "4.0"
watchfiles==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.14 ; python_version >= "3.10" and python_version < "4.0"
websockets==15.0.1 ; python_version >= "3.10" and python_version < "4.0"
wrapt==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
